In [1]:
!pip install pycona
import pandas as pd
from pycona import *

Requirement already satisfied: pycona in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (0.0.2)
Requirement already satisfied: cpmpy>=0.9 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from pycona) (0.9.22)
Requirement already satisfied: scikit-learn in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from pycona) (1.0.2)
Requirement already satisfied: numpy>=1.5 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from cpmpy>=0.9->pycona) (1.21.5)
Requirement already satisfied: ortools>=5.0 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from cpmpy>=0.9->pycona) (9.5.2237)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from scikit-learn->pycona) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from scikit-learn->pycona) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from scikit-learn->pycona) (1.1.1)
Requirement already satisfied: absl-py>=0.13 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from ortools>=5.0->cpmpy>=0.9->pycona) (1.3.0)
Requirement already satisfied: protobuf>=4.21.5 in c:\users\gertj\anaconda3\envs\cv\lib\site-packages (from ortools>=5.0->cpmpy>=0.9->pycona) (4.24.4)

### Comparing interactive CA systems

For the introductory example, we only used GrowAcq algorithm, with its default settings. In this notebook, we will first run and compare different interactive CA algorithms, and then we will see how we can customize their configuration.

In [2]:
from pycona.benchmarks import construct_nurse_rostering

# we use the running example on nurse rostering from the introductory tutorial
instance, oracle = construct_nurse_rostering(3, 2, 8, 2)
print(instance)

ProblemInstance:

Name nurse_rostering_nurses8_shifts3_days2_nurses_per_shift2.

Parameters {'shifts_per_day': 3, 'num_days': 2, 'num_nurses': 8, 'nurses_per_shift': 2}.

Variables: [[[shifts[0,0,0] shifts[0,0,1]]
  [shifts[0,1,0] shifts[0,1,1]]
  [shifts[0,2,0] shifts[0,2,1]]]

 [[shifts[1,0,0] shifts[1,0,1]]
  [shifts[1,1,0] shifts[1,1,1]]
  [shifts[1,2,0] shifts[1,2,1]]]].

Language: [(AV4) == (AV5), (AV4) != (AV5), (AV4) < (AV5), (AV4) > (AV5), (AV4) >= (AV5), (AV4) <= (AV5)].

#### Customizing Interactive CA systems

Each interactive CA algorithm can be configured in different ways for each of the 3 main subcomponents of interactive CA systems:

- qgen: An instance of QGenBase, default is None. The query generation system to be used to generate top-level queries.
- find_scope: An instance of FindScopeBase, default is None. The FindScope system to be used for finding the scope of violated constraints.
- findc: An instance of FindCBase, default is None. The FindConstraint system to be used for finding the exact violated constraints in the given scopes.

For each of the subcomponents several choices are implemented, based on the literature. Each subcomponent of CA is implemented in a class, with different implementations of that subcomponent subclassing it.

Until now, we used the default settings in **PyConA** for interactive CA systems. We will now focus on how to customize the behaviour of a given Interactive CA system.

#### Using a custom CA Environment

In [3]:
# Creating probabilistic environment, using the default settings for all subcomponents
env = ProbaActiveCAEnv(qgen=PQGen(), find_scope=FindScope2(), findc=FindC())

ga2 = GrowAcq(env)
learned_instance = ga2.learn(instance, oracle=oracle, verbose=1)

Running growacq with <pycona.active_algorithms.mquacq2.MQuAcq2 object at 0x000001F8E240B308> as inner algorithm

Learned 0 constraints in 0 queries.
...L..
Learned 1 constraints in 5 queries.
....L....L..
Learned 3 constraints in 15 queries.
.....L.....L...L.
Learned 6 constraints in 29 queries.
.....L...L.....L...L.
Learned 10 constraints in 46 queries.
.....L......L....L..L....L..
Learned 15 constraints in 69 queries.
.....L.....L....
Learned 17 constraints in 83 queries.
.....L......L...L.
Learned 20 constraints in 98 queries.
........L........L......
Learned 22 constraints in 120 queries.
.......L.....L.....L....
Learned 25 constraints in 141 queries.
......L.......L...L......L...
Learned 29 constraints in 166 queries.
......L......L....L......L...L..
Learned 34 constraints in 193 queries.

In [4]:
# Lets use the older 'FindScope' instead of FindScope2, and see what the effect is
env = ProbaActiveCAEnv(qgen=PQGen(), find_scope=FindScope(), findc=FindC())

ga1 = GrowAcq(env)
learned_instance = ga1.learn(instance, oracle=oracle, verbose=1)

Running growacq with <pycona.active_algorithms.mquacq2.MQuAcq2 object at 0x000001F8E25B29C8> as inner algorithm

Learned 0 constraints in 0 queries.
.....L..
Learned 1 constraints in 7 queries.
.......L.......L..
Learned 3 constraints in 23 queries.
........L.........L......L.
Learned 6 constraints in 47 queries.
.......L.....L........L......L.
Learned 10 constraints in 74 queries.
.......L..........L......L....L.......L..
Learned 15 constraints in 110 queries.
.......L........L....
Learned 17 constraints in 129 queries.
.......L........L......L.
Learned 20 constraints in 151 queries.
.............L..............L......
Learned 22 constraints in 184 queries.
..........L..........L.........L....
Learned 25 constraints in 217 queries.
........L...........L........L.............L...
Learned 29 constraints in 260 queries.
........L........L.............L.....L.........L......
Learned 34 constraints in 309 queries.

In [5]:
# we can compare the detailed statistics:
pd.concat([ga2.env.metrics.short_statistics, 
           ga1.env.metrics.short_statistics], keys=["growacq findscope2", "growacq findscope"])

,,CL,tot_q,top_lvl_q,tfs_q,tfc_q,avg_q_size,avg_gen_time,avg_t,max_t,tot_t,conv
growacq findscope2,0,34,193,71,77,45,4.2487,0.0496,0.0290,0.1431,5.5933,1
growacq findscope,0,34,309,75,188,46,3.7443,0.0498,0.0189,0.1426,5.8530,1

#### Comparing different algorithms

First the classic QuAcq, MQuAcq and MQuAcq2 algorithms.

_(by default they do not use a probabilistic environment, though you can change that)_

In [6]:
# some patience needed
qa = QuAcq()
learned_instance = qa.learn(instance, oracle=oracle)

mqa = MQuAcq()
learned_instance = mqa.learn(instance, oracle=oracle)

mqa2 = MQuAcq2()
learned_instance = mqa2.learn(instance, oracle=oracle)

Then, the more recent 'GrowAcq' meta-algorithm

(includes a probabilistic environment that guides query generation)

In [7]:
ga24 = GrowAcq()  # AAAI24 version, decision tree with features
learned_instance = ga24.learn(instance, oracle=oracle)

ga23 = GrowAcq(ProbaActiveCAEnv(classifier=CountsPredictor()))  # CP23 version, counting based probabilities
learned_instance = ga23.learn(instance, oracle=oracle)

In [8]:
# we can compare the detailed statistics:
out = pd.concat([a.env.metrics.short_statistics for a in [qa,mqa,mqa2,ga23,ga24]])
out.index = ["qa","mqa","mqa2","ga23","ga24"]
out

,CL,tot_q,top_lvl_q,tfs_q,tfc_q,avg_q_size,avg_gen_time,avg_t,max_t,tot_t,conv
qa,34,226,39,166,21,6.6283,0.6521,0.1174,1.2398,26.5332,1
mqa,34,168,61,98,9,5.6071,0.3217,0.0164,1.1710,2.7558,1
mqa2,34,187,36,115,25,4.7968,0.4650,0.0444,1.2333,8.2955,1
ga23,34,90,88,0,2,5.6667,0.0447,0.0469,0.1430,4.2206,1
ga24,34,85,79,2,4,5.2471,0.0414,0.0436,0.1589,3.7040,1